img.thumbnail {    
  max-width: 500px;
}

.post figure.image img{
  max-width: 100%;
}

.post blockquote {
  padding-left: 20px;
  border-left: 2px solid #BBB;
  font-style: italic;
}

.post .content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}