@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
}

.main {
  min-height: 85vh;
}

.breadcrumb-item {
  font-size: 0.8em; 
}